.bold {
    font-weight: bold
}
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
}
.calibre1 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5pt;
    text-align: center;
    text-indent: 0
}
.calibre10 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 4pt;
    text-indent: 0
}
.calibre100 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 5pt
}
.calibre101 {
    height: 199px;
    vertical-align: baseline;
    width: 550px
}
.calibre102 {
    height: 154px;
    vertical-align: baseline;
    width: 550px
}
.calibre103 {
    height: 357px;
    vertical-align: baseline;
    width: 550px
}
.calibre104 {
    height: 74px;
    vertical-align: baseline;
    width: 475px
}
.calibre105 {
    height: 253px;
    vertical-align: baseline;
    width: 475px
}
.calibre106 {
    height: 144px;
    vertical-align: baseline;
    width: 203px
}
.calibre107 {
    height: 346px;
    vertical-align: baseline;
    width: 550px
}
.calibre108 {
    height: 213px;
    vertical-align: baseline;
    width: 550px
}
.calibre109 {
    height: 661px;
    vertical-align: baseline;
    width: 800px
}
.calibre11 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5pt;
    text-indent: 1em
}
.calibre110 {
    height: 1098px;
    vertical-align: baseline;
    width: 800px
}
.calibre111 {
    height: 1100px;
    vertical-align: baseline;
    width: 800px
}
.calibre112 {
    height: 1135px;
    vertical-align: baseline;
    width: 800px
}
.calibre113 {
    height: 1153px;
    vertical-align: baseline;
    width: 800px
}
.calibre114 {
    height: 1101px;
    vertical-align: baseline;
    width: 800px
}
.calibre115 {
    height: 1103px;
    vertical-align: baseline;
    width: 800px
}
.calibre116 {
    height: 1117px;
    vertical-align: baseline;
    width: 800px
}
.calibre117 {
    height: 1099px;
    vertical-align: baseline;
    width: 800px
}
.calibre118 {
    height: 216px;
    vertical-align: baseline;
    width: 800px
}
.calibre119 {
    height: 1091px;
    vertical-align: baseline;
    width: 800px
}
.calibre12 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 8pt;
    text-indent: 1em
}
.calibre120 {
    height: 534px;
    vertical-align: baseline;
    width: 800px
}
.calibre121 {
    height: 1102px;
    vertical-align: baseline;
    width: 800px
}
.calibre122 {
    height: 1152px;
    vertical-align: baseline;
    width: 800px
}
.calibre123 {
    height: 1082px;
    vertical-align: baseline;
    width: 800px
}
.calibre124 {
    height: 1157px;
    vertical-align: baseline;
    width: 800px
}
.calibre125 {
    height: 986px;
    vertical-align: baseline;
    width: 718px
}
.calibre126 {
    height: 375px;
    vertical-align: baseline;
    width: 800px
}
.calibre127 {
    height: 1142px;
    vertical-align: baseline;
    width: 800px
}
.calibre128 {
    height: 1119px;
    vertical-align: baseline;
    width: 800px
}
.calibre129 {
    height: 977px;
    vertical-align: baseline;
    width: 800px
}
.calibre13 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 5pt;
    text-indent: 1em
}
.calibre130 {
    height: 1144px;
    vertical-align: baseline;
    width: 800px
}
.calibre131 {
    height: 324px;
    vertical-align: baseline;
    width: 800px
}
.calibre132 {
    height: 1159px;
    vertical-align: baseline;
    width: 800px
}
.calibre133 {
    height: 357px;
    vertical-align: baseline;
    width: 800px
}
.calibre134 {
    height: 1155px;
    vertical-align: baseline;
    width: 800px
}
.calibre135 {
    height: 965px;
    vertical-align: baseline;
    width: 800px
}
.calibre136 {
    height: 464px;
    vertical-align: baseline;
    width: 800px
}
.calibre137 {
    height: 256px;
    vertical-align: baseline;
    width: 800px
}
.calibre138 {
    height: 99px;
    vertical-align: baseline;
    width: 800px
}
.calibre139 {
    height: 576px;
    vertical-align: baseline;
    width: 800px
}
.calibre14 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 4pt;
    text-indent: 1em
}
.calibre140 {
    height: 700px;
    vertical-align: baseline;
    width: 800px
}
.calibre141 {
    height: 611px;
    vertical-align: baseline;
    width: 800px
}
.calibre142 {
    height: 1088px;
    vertical-align: baseline;
    width: 800px
}
.calibre143 {
    height: 875px;
    vertical-align: baseline;
    width: 800px
}
.calibre144 {
    height: 383px;
    vertical-align: baseline;
    width: 420px
}
.calibre145 {
    height: 660px;
    vertical-align: baseline;
    width: 450px
}
.calibre146 {
    height: 200px;
    vertical-align: baseline;
    width: 200px
}
.calibre147 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4pt;
    text-indent: 1em
}
.calibre148 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-indent: 0
}
.calibre149 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 9pt;
    text-indent: 0
}
.calibre15 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 4pt
}
.calibre150 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 2em
}
.calibre151 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: right;
    text-indent: 1em
}
.calibre152 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5pt;
    text-align: right;
    text-indent: 1em
}
.calibre153 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: center;
    text-indent: 1em
}
.calibre154 {
    height: 284px;
    vertical-align: baseline;
    width: 350px
}
.calibre155 {
    height: 133px;
    vertical-align: baseline;
    width: 200px
}
.calibre156 {
    height: 256px;
    vertical-align: baseline;
    width: 250px
}
.calibre157 {
    height: 260px;
    vertical-align: baseline;
    width: 500px
}
.calibre158 {
    height: 284px;
    vertical-align: baseline;
    width: 280px
}
.calibre159 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 8pt;
    text-indent: 0
}
.calibre16 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-indent: 2em
}
.calibre160 {
    height: 206px;
    vertical-align: baseline;
    width: 450px
}
.calibre161 {
    border: 1px inset;
    color: gray;
    display: block;
    height: 2px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    text-indent: 43%
}
.calibre162 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 9pt
}
.calibre163 {
    height: 300px;
    vertical-align: baseline;
    width: 450px
}
.calibre164 {
    display: block;
    height: 1em
}
.calibre165 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
}
.calibre166 {
    display: list-item;
    margin-top: 0;
    text-indent: 0
}
.calibre167 {
    height: 321px;
    vertical-align: baseline;
    width: 450px
}
.calibre168 {
    height: 308px;
    vertical-align: baseline;
    width: 450px
}
.calibre169 {
    height: 296px;
    vertical-align: baseline;
    width: 450px
}
.calibre17 {
    font-family: monospace
}
.calibre170 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 8pt
}
.calibre171 {
    height: 241px;
    vertical-align: baseline;
    width: 450px
}
.calibre172 {
    height: 338px;
    vertical-align: baseline;
    width: 300px
}
.calibre173 {
    height: 303px;
    vertical-align: baseline;
    width: 450px
}
.calibre174 {
    height: 333px;
    vertical-align: baseline;
    width: 400px
}
.calibre175 {
    height: 247px;
    vertical-align: baseline;
    width: 250px
}
.calibre176 {
    height: 231px;
    vertical-align: baseline;
    width: 250px
}
.calibre177 {
    height: 284px;
    vertical-align: baseline;
    width: 500px
}
.calibre178 {
    height: 27px;
    vertical-align: baseline;
    width: 25px
}
.calibre179 {
    height: 331px;
    vertical-align: baseline;
    width: 500px
}
.calibre18 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 1em
}
.calibre180 {
    height: 288px;
    vertical-align: baseline;
    width: 500px
}
.calibre181 {
    height: 29px;
    vertical-align: baseline;
    width: 80px
}
.calibre182 {
    height: 31px;
    vertical-align: baseline;
    width: 55px
}
.calibre183 {
    height: 81px;
    vertical-align: baseline;
    width: 550px
}
.calibre184 {
    height: 36px;
    vertical-align: baseline;
    width: 170px
}
.calibre185 {
    height: 44px;
    vertical-align: baseline;
    width: 200px
}
.calibre186 {
    height: 317px;
    vertical-align: baseline;
    width: 450px
}
.calibre187 {
    height: 259px;
    vertical-align: baseline;
    width: 450px
}
.calibre188 {
    height: 340px;
    vertical-align: baseline;
    width: 200px
}
.calibre189 {
    height: 262px;
    vertical-align: baseline;
    width: 350px
}
.calibre19 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 6pt;
    text-indent: 1em
}
.calibre190 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: sub
}
.calibre191 {
    height: 215px;
    vertical-align: baseline;
    width: 400px
}
.calibre192 {
    height: 537px;
    vertical-align: baseline;
    width: 420px
}
.calibre193 {
    height: 519px;
    vertical-align: baseline;
    width: 400px
}
.calibre194 {
    display: list-item;
    margin-top: 4pt;
    text-indent: 0
}
.calibre195 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 2pt;
    text-indent: 1em
}
.calibre196 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2pt;
    text-indent: 1em
}
.calibre197 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 2pt
}
.calibre198 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5pt;
    text-align: center;
    text-indent: 1em
}
.calibre199 {
    height: 872px;
    vertical-align: baseline;
    width: 600px
}
.calibre2 {
    font-size: 1.83333em;
    line-height: 1.2
}
.calibre20 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    text-indent: 1em;
}
.calibre200 {
    height: 970px;
    vertical-align: baseline;
    width: 600px
}
.calibre21 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
}
.calibre22 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 7pt;
    text-align: center;
    text-indent: 1em
}
.calibre23 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5em;
    text-align: center;
    text-indent: 1em
}
.calibre24 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 1em
}
.calibre25 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6em;
    text-align: center;
    text-indent: 1em
}
.calibre26 {
    height: 80px;
    vertical-align: baseline;
    width: 85px
}
.calibre27 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 5pt;
    text-align: center;
    text-indent: 1em
}
.calibre28 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
}
.calibre29 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 3em;
    text-indent: 1em
}
.calibre3 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 7em;
    text-align: center;
    text-indent: 1em
}
.calibre30 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 6pt
}
.calibre31 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0
}
.calibre32 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-indent: 1em
}
.calibre33 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 6pt;
    text-align: right;
    text-indent: 1em
}
.calibre34 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3em;
    text-indent: 1em
}
.calibre35 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 6pt;
    text-indent: 0
}
.calibre36 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3em;
    text-align: center;
    text-indent: 1em
}
.calibre37 {
    height: 489px;
    vertical-align: baseline;
    width: 500px
}
.calibre38 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
}
.calibre39 {
    font-size: 0.83333em
}
.calibre4 {
    height: 51px;
    vertical-align: baseline;
    width: 60px
}
.calibre40 {
    font-size: 1.2em
}
.calibre41 {
    height: 195px;
    vertical-align: baseline;
    width: 165px
}
.calibre42 {
    height: 441px;
    vertical-align: baseline;
    width: 500px
}
.calibre43 {
    height: 438px;
    vertical-align: baseline;
    width: 300px
}
.calibre44 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 1em
}
.calibre45 {
    height: 191px;
    vertical-align: baseline;
    width: 450px
}
.calibre46 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 7pt;
    text-indent: 1em
}
.calibre47 {
    height: 344px;
    vertical-align: baseline;
    width: 300px
}
.calibre48 {
    height: 277px;
    vertical-align: baseline;
    width: 300px
}
.calibre49 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em
}
.calibre5 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 6pt;
    text-align: center;
    text-indent: 1em
}
.calibre50 {
    height: 358px;
    vertical-align: baseline;
    width: 300px
}
.calibre51 {
    height: 382px;
    vertical-align: baseline;
    width: 300px
}
.calibre52 {
    height: 323px;
    vertical-align: baseline;
    width: 300px
}
.calibre53 {
    height: 331px;
    vertical-align: baseline;
    width: 300px
}
.calibre54 {
    height: 347px;
    vertical-align: baseline;
    width: 300px
}
.calibre55 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 3em;
    text-align: right;
    text-indent: 1em
}
.calibre56 {
    height: 274px;
    vertical-align: baseline;
    width: 380px
}
.calibre57 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
}
.calibre58 {
    height: 95px;
    vertical-align: baseline;
    width: 170px
}
.calibre59 {
    font-size: 0.75em
}
.calibre6 {
    display: block
}
.calibre60 {
    height: 120px;
    vertical-align: baseline;
    width: 210px
}
.calibre61 {
    height: 324px;
    vertical-align: baseline;
    width: 275px
}
.calibre62 {
    height: 451px;
    vertical-align: baseline;
    width: 500px
}
.calibre63 {
    height: 405px;
    vertical-align: baseline;
    width: 300px
}
.calibre64 {
    font-size: 0.58065em;
    line-height: normal;
    vertical-align: super
}
.calibre65 {
    font-size: 2.06667em;
    line-height: 1.2
}
.calibre66 {
    height: 124px;
    vertical-align: baseline;
    width: 180px
}
.calibre67 {
    height: 234px;
    vertical-align: baseline;
    width: 400px
}
.calibre68 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em;
    text-align: right;
    text-indent: 1em
}
.calibre69 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 5pt;
    text-align: right;
    text-indent: 1em
}
.calibre7 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 7pt;
    text-indent: 0
}
.calibre70 {
    height: 146px;
    vertical-align: baseline;
    width: 175px
}
.calibre71 {
    height: 276px;
    vertical-align: baseline;
    width: 300px
}
.calibre72 {
    height: 278px;
    vertical-align: baseline;
    width: 500px
}
.calibre73 {
    height: 159px;
    vertical-align: baseline;
    width: 145px
}
.calibre74 {
    height: 297px;
    vertical-align: baseline;
    width: 500px
}
.calibre75 {
    height: 118px;
    vertical-align: baseline;
    width: 200px
}
.calibre76 {
    height: 245px;
    vertical-align: baseline;
    width: 200px
}
.calibre77 {
    height: 98px;
    vertical-align: baseline;
    width: 190px
}
.calibre78 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5em;
    text-align: right;
    text-indent: 1em
}
.calibre79 {
    height: 177px;
    vertical-align: baseline;
    width: 350px
}
.calibre8 {
    font-size: 1.29167em;
    line-height: 1.2
}
.calibre80 {
    height: 123px;
    vertical-align: baseline;
    width: 200px
}
.calibre81 {
    height: 273px;
    vertical-align: baseline;
    width: 350px
}
.calibre82 {
    height: 405px;
    vertical-align: baseline;
    width: 400px
}
.calibre83 {
    font-size: 1em;
    line-height: normal;
    vertical-align: super
}
.calibre84 {
    height: 172px;
    vertical-align: baseline;
    width: 500px
}
.calibre85 {
    height: 344px;
    vertical-align: baseline;
    width: 400px
}
.calibre86 {
    height: 338px;
    vertical-align: baseline;
    width: 500px
}
.calibre87 {
    height: 446px;
    vertical-align: baseline;
    width: 350px
}
.calibre88 {
    height: 178px;
    vertical-align: baseline;
    width: 360px
}
.calibre89 {
    height: 248px;
    vertical-align: baseline;
    width: 500px
}
.calibre9 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-indent: 1em
}
.calibre90 {
    height: 107px;
    vertical-align: baseline;
    width: 350px
}
.calibre91 {
    height: 219px;
    vertical-align: baseline;
    width: 280px
}
.calibre92 {
    height: 254px;
    vertical-align: baseline;
    width: 160px
}
.calibre93 {
    height: 110px;
    vertical-align: baseline;
    width: 550px
}
.calibre94 {
    height: 324px;
    vertical-align: baseline;
    width: 550px
}
.calibre95 {
    height: 354px;
    vertical-align: baseline;
    width: 404px
}
.calibre96 {
    height: 467px;
    vertical-align: baseline;
    width: 400px
}
.calibre97 {
    height: 229px;
    vertical-align: baseline;
    width: 350px
}
.calibre98 {
    height: 35px;
    vertical-align: baseline;
    width: 35px
}
.calibre99 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 1em
}
.italic {
    font-style: italic
}
.mbppagebreak {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
}